
# CIS024C - Fall 2017 - Thursday 5:30-9:25pm 

## Homework 10

Homework 10 covers object oriented programming in Python

The below sites have some interesting and useful information on working with files

https://drive.google.com/open?id=1OrcpXEmhvgcJxSlchIBsvmXST0lG_uKx
http://www.tutorialspoint.com/python/python_classes_objects.htm

You will need to download this notebook and use this as a starting point for your homework. You will just need to fill in the content of each code-block (cell) and execute. Once you have completed all the exercises, you will need to save and upload this to your github repository under a folder called hw10.

Note also the exercises build on top of one another so you might be able to do the next exercise if you have not completed the previous exercise.

Post any questions you have on our Slack at **cis-024c1.slack.com**

** Slides ** for Week 10 can be found at 

https://docs.google.com/presentation/d/1AigvCKV1yb3PrrcT5xt3IqyAwGpv6IKMNWYUiQ2Oy6k/edit?usp=sharing

**Please refer back to hw1 and slack for instructions on how to setup your computer for developing using Python.**

### Helpful Jupyter Commands

Below are some useful commands to know when using Jupyter

1. You can add a new cell by clicking on the "+" icon on top.
2. You can delete a cell by selecting that cell and clicking on the "scissors" icon on top.
3. You can execute a cell by either pressing shift+enter or selecting the "play" button on top.
4. You can create a new file in Jupyter via the File menu->New Notebook option. Make sure to select Python 2 when creating your notebook.
5. Also, for your code blocks make sure that Code is selected instead of another option like Markdown.
6. Use the Enter key to go to the next line in a cell to enter the next statement.
7. You can clear results by clicking on the Cell menu item and selecting Current Output->Clear or All Output->Clear depending on whether you are trying to just clear the output for one cell or for all cells.
8. In case your program has crashed for some reason (infinite loop, for example), you can restart your Python session by select Kernel in the menu and selecting Restart.

#### Check Python Version

In [1]:
!python --version

Python 2.7.13 :: Anaconda 4.4.0 (64-bit)

#### Sample Exercises with Exception Handling

Week 10 Class Work can be found here

https://github.com/cis024c/fall2017classwork/blob/master/week10/week10_classwork.ipynb

**Exercise 1 - Testing your knowledge of object oriented programming concepts **

Answer the below questions

1. Why do we need classes?
2. What is encapsulation?

1.Why do we need classes?
A class is a specification or blueprint used to create an object.  It offers the ability or recreate objects with repeatability and w/o recreating code to do so.  Variables and functions that are commmon to the object can be defined by the class and used to create multiple objects.

2.What is encapsulation?
Encapsulstion is combining attributes and functions into a single entity called a class.

** Exercise 2 - Class creation **

Create a Python class named **Employee** with the following attributes and methods

Data members
```
1. employeeName  - type string
2. employeeAge  - type int
3. employeeSalary - type float
```

Methods:
```
1. getEmployee - returns employee name
2. getEmployeeAge - gets the employee age
3. getEmployeeSalary - returns the employee salary
4. __init__ - initialize method accepts the name, age and salary of the employee
```

Create an object of type Employee and initialize with arbitrary values. Invoke the get methods and display the result.

In [11]:
### YOUR CODE GOES BELOW
class Employee(object):
    def __init__(self, name, age=0, salary=0.0):
        self.name = name
        self.age = age
        self.salary = salary
        
    def getEmployee(self):
        return self.name
        
    def getEmployeeAge(self):
        return self.age
    
    def getEmployeeSalary(self):
        return self.salary

       
    def __str__(self):
        return "Name: %s\nAge: %s\nSalary: $%.2f" % (self.name, self.age, self.salary)
    
    

### END COD

In [12]:
newEmployee = Employee("Jenni",38,78500.30)

In [13]:
print newEmployee.getEmployee()
print newEmployee.getEmployeeAge()
print newEmployee.getEmployeeSalary()
print
print newEmployee
print newEmployee.age

Jenni
38
78500.3

Name: Jenni
Age: 38
Salary: $78500.30
38

#### Exercise 3 - Private members

In the above **Employee** class make the employeeName, employeeAge and employeeSalary private so that their access is restricted to only within the class.

In [28]:
### YOUR CODE GOES BELOW
class Employee(object):
    def __init__(self, name, age=0, salary=0.0):
        self.__name = name
        self.__age = age
        self.__salary = salary
        
    def getEmployeeName(self):
        return self.__name
        
    def getEmployeeAge(self):
        return self.__age
    
    def getEmployeeSalary(self):
        return self.__salary

       
    def __str__(self):
        return "Name: %s\nAge: %s\nSalary: $%.2f" % (self.__name, self.__age, self.__salary)
    
     

### END CODE

In [29]:
newEmployee = Employee("Jen",45,78550)

In [30]:
print newEmployee.getEmployeeName()
print newEmployee.getEmployeeAge()
print newEmployee.getEmployeeSalary()
print newEmployee
print newEmployee.age
print newEmployee.__age

Jen
45
78550
Name: Jen
Age: 45
Salary: $78550.00

AttributeError: 'Employee' object has no attribute 'age'

#### Exercise 4 - Adding setters and working with a list of Employees

In the **Employee** class add the following methods

```
1. setEmployeeAge - accepts age and sets it in the object
2. setEmployeeName - accepts employee name and sets it in the object
3. setEmployeeSalary - accepts employee salary and sets it i nthe object
```

Create a list of employees called employeeList. Initialize the list with three objects of type Employee. Initialize the object with the values "None" for employeeName, 0 for employeeAge and 0 for employeeSalary.

Loop  through each employee in the employeeList. Each time, request the user to enter the name, age and salary of a different employee. Use the set methods to set the name, age and salary for each employee in the employeeList.

Loop through each employee in the employeeList. Display the name, age and salary of each employee.

In [1]:
### YOUR CODE GOES BELOW
class Employee(object):
    def __init__(self, name=None, age=0, salary=0.0):
        self.__name = name
        self.__age = age
        self.__salary = salary
        
    def getEmployeeName(self):
        return self.__name
        
    def getEmployeeAge(self):
        return self.__age
    
    def getEmployeeSalary(self):
        return self.__salary

    def setEmployeeName(self,name):
        self.__name = name
        
    def setEmployeeAge(self,age):
        self.__age = age
    
    def setEmployeeSalary(self,salary):
        self.__salary = salary
       
    def __str__(self):
        return "Name: %s\nAge: %s\nSalary: $%.2f" % (self.__name, self.__age, self.__salary)
    

### END CODE

In [7]:
inputFlag = "Y"
count=0
employeeList = []  #initialze List

for i in range(3):     # fill list with 3 "None" employees
    employeeList.append(Employee("None",0,0))

#fill the list with employees
while inputFlag=="Y" or inputFlag=="y":
    inputFlag = raw_input("Do you need to enter employee information? (Y or N)")
    if inputFlag=="N" or inputFlag=="n":
        print "Data entry complete."
        break
    else:
        
        employee_name = raw_input("Employees name:")
        employeeList[count].setEmployeeName(employee_name)
        employee_age = input("Employees age:")
        employeeList[count].setEmployeeAge(employee_age)
        employee_salary = input("Employees salary:")
        employeeList[count].setEmployeeSalary(employee_salary)
        if count==2:
            print "The maximum of three employees has been entered"
            break
        count +=1
        
       # employeeList.append(Employee(employee_name,employee_age,employee_salary))
for i in range(count+1):        
    print employeeList[i]

Do you need to enter employee information? (Y or N)y
Employees name:Jayk
Employees age:20
Employees salary:120000
Do you need to enter employee information? (Y or N)y
Employees name:Jenni
Employees age:39
Employees salary:203000.33
Do you need to enter employee information? (Y or N)y
Employees name:Sally
Employees age:77
Employees salary:46000
The maximum of three employees has been entered
Name: Jayk
Age: 20
Salary: $120000.00
Name: Jenni
Age: 39
Salary: $203000.33
Name: Sally
Age: 77
Salary: $46000.00

#### Exercise 5 -  Creating a Python calculator class

Create a Python class called Calculator. 

The class has the following data members

```
1. number1 - type float
2. number2 - type float
```

The class must have the below methods

```
1. add - adds two numbers and returns the result
2. subtract - subtracts the first number from the second number and returns the result
3. multiply - multiply two numbers and returns the result
4. divide - divide the first number by the second number and returns the result
5. __init__ - accepts two numbers and uses those numbers to initialize number1 and number2 respectively
```

Create an object of the Calculator class. Initialize it with any two arbitrary numbers. Invoke the methods add, subtract, multiple and divide and display the result

In [16]:
### YOUR CODE GOES 
class Calculator(object):
    def __init__(self, number1=0.0, number2=0.0):
        self.__num1 = number1
        self.__num2 = number2
        
    def add(self):
        return self.__num1 + self.__num2
        
    def sub(self):
        return self.__num1 - self.__num2
        
    def mult(self):
        return self.__num1 * self.__num2
        
    def div(self):
        return self.__num1 / self.__num2
        
    def __str__(self):
        return "Sum: %.1f\nDifference: %.1f\nProduct: %.1f\nQuotient: %.12f" % (self.add(), self.sub(), self.mult(), self.div()) 
    
    
#test = Calculator(24.7,17.1)

#print test
        
    

### END CODE

In [17]:
print Calculator(23.8,345.9)

Sum: 369.7
Difference: -322.1
Product: 8232.4
Quotient: 0.068806013299